@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about The biggest movie collection</a>.</p>
</div>



<div class="container-xl">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators ">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/dune.jpg" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>Dune</h4>
										<p>A noble family becomes embroiled in a war for control over 
											the galaxy's most valuable asset while its heir becomes 
											troubled by visions of a dark future..</p>
										<a href="/Movies/Details/1006" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/ministry.jpg" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>Ministry of Ungentlemenly warfare</h4>
										<p>The British military recruits a small group of highly skilled soldiers
											to strike against German forces behind enemy lines during World War II.
											.</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/fallguy.jpg" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>Fall Guy</h4>
										<p>A down-and-out stuntman must find the missing star 
											of his ex-girlfriend's blockbuster film.</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">                           
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/Avengers.webp" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>Kuala Lumpur</h4>
										<p>After the devastating events of Avengers: Infinity War (2018), the universe is in ruins.
											With the help of remaining allies, the Avengers assemble
											once more in order to reverse Thanos' actions and restore balance to the universe..</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/interstellar.jpg" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>Interstellar</h4>
										<p>When Earth becomes uninhabitable in the future, a farmer and ex-NASA pilot, Joseph Cooper,
											is tasked to pilot a spacecraft, along with a team of researchers,
											to find a new planet for humans.</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/eternals.webp" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>Eternals</h4>
										<p>The saga of the Eternals, a race of immortal beings who lived on Earth and shaped its history and civilizations.</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/ManUncle.jpg" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>The Gentlemen</h4>
										<p>In the early 1960s, CIA agent Napoleon Solo and KGB operative Illya Kuryakin participate
											in a joint mission against a mysterious criminal organization,
											which is working to proliferate nuclear weapons.</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/batman.webp" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>The Batman</h4>
										<p>When a sadistic serial killer begins murdering key political figures in Gotham, Batman is forced
											to investigate the city's 
											hidden corruption and question his family's involvement..</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumb-wrapper">
									<div class="img-box">
										<img src="~/lib/images/pirates.webp" class="img-fluid" alt="Responsive image">
									</div>
									<div class="thumb-content">
										<h4>Pirates of the Carribean</h4>
										<p>Blacksmith Will Turner teams up with eccentric pirate "Captain" Jack Sparrow to save his love, 
											the governor's daughter, from Jack's former pirate allies, who are now undead..</p>
										<a href="#" class="btn btn-primary">More <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>

			<!-- Scripts -->
			<!-- jQuery -->
			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
			<!-- Popper.js -->
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
			<!-- Bootstrap JavaScript -->
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round">
			
